
/*reset*/
/*ME ASEGURO UN LIENZO A 0*/
/*https://meyerweb.com/eric/tools/css/reset/*/

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
}
#container{
    width: 100%;
    height: 100%;
    background-color: green;
}
#menu, #gallery, #footer{
    background-color: aqua;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    /*display: inline-block;*/
    margin-bottom: 25px;
}
#menu{
    margin-top: 25px;
}
#grid{
    background-color: yellow;
    width: 75%;
    margin: 0 auto;
}
#menu{
    width: 80%;
    background-color: azure;
}
#menu div{
    display: inline-block;
}
    #m1{
        border: 1px solid black;
        width: 23%;
    }
    #m2{
        border: 1px solid black;
        width: 49%;
    }
    #m3{
        border: 1px solid black;
        width: 23%;
    }
#grid div{
    display: inline-block;
}
#grid > div{
    display: inline-block;
}
#container > :first-child {
    /* estilos aquí */
}
#container > :last-child {
    /* estilos aquí */
}
#container > :nth-child(2) {
    /* estilos aquí */
}

.dis{
    display: inline-block;
    width: 31%;
    text-align: center;
    border: 1px black solid;
}
/*#container :nth-child(1){
    margin-top: 25px;
    text-align: center;
}*/

